DATABASE_URL="mysql://wedding:secret@localhost:3306/wedding_db"
JWT_SECRET="change-me-in-production-min-32-chars"
JWT_EXPIRES_IN="30m"
MEILISEARCH_HOST="http://localhost:7700"
MEILISEARCH_API_KEY=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
API_PORT=4000
NODE_ENV="development"
